.icon-rock, .icon-paper, .icon-scissors {
    height: 100px;
    width: 100px !important;
    margin:30px;
    color: blue;
}

.title {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}

.textCenter {
    text-align: center;
}

.justifyCenter {
    justify-content: center;
}